# 00. 파이썬기초 복습

1) range()를 사용하여, 100이하의 수 중, 7의 배수를 리스트 a 에 담으시오.

In [2]:
a = [i for i in range(100) if i%7==0]
print(a)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

2) a에서 인덱스 4~ 7까지 조회하시오.

In [3]:
a[4:8]

[28, 35, 42, 49]

3) a에서, 끝에서 세번째 값을 조회하시오.

In [4]:
a[-3]

84

4) a에 데이터 갯수(길이)는?

In [5]:
len(a)

15

5) a 값들의 합과 평균을 구하시오.

In [ ]:
print(sum(a))
print()

6) [심화]반복문을 이용하여 100이하의 소수(prime number)를 리스트에 담아 봅시다.
* 소수(prime number) : 약수가 오직 1과 자기자신 만 존재하는 수.

7) [심화] 6번의 코드를 참조하여, 소수(prime number) 추출기 함수를 만들어 봅시다.
* 입력변수 : 숫자 n
* 처리 : n 이하의 소수를 리스트에 저장
* 출력변수 : 소수 리스트

* [추가] 입력변수 n은 2이상의 정수여야 함.(입력값 체크 부분 포함)

8) 아래 값으로 딕셔너리 d를 생성해 봅시다.

|key | value|
|----|----|
|v1 | [1,2,3]|
|v2 | {'a':23, 'b':[4,5]}|

9) d에서 [1,2,3]을 출력해 봅시다.

10) d에서 23을 출력해 봅시다.

11) d에서 5를 출력해봅시다.

12) d에 key 'newKey' , value (1,2) 를 추가하고 출력해봅시다.