# DataFrame과 JSON 데이터

In [1]:
import pandas as pd
import json

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/DA4BAM/dataset/master/iris.csv')

## 1. dataframe to json

* df.to_json(orient = )
    * orient = 'columns'
    * orient = 'records'
    * orient = 'index'
    * orient = 'split'
    * orient = 'table'
    
    
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html

In [3]:
temp = data.head(3)

### 1) 칼럼별로 저장하기 orient = 'columns'

In [4]:
# json 구조의 문자열
js_columns = temp.to_json(orient = 'columns')
print(type(js_columns)) 
js_columns

<class 'str'>

'{"Sepal.Length":{"0":5.1,"1":4.9,"2":4.7},"Sepal.Width":{"0":3.5,"1":3.0,"2":3.2},"Petal.Length":{"0":1.4,"1":1.4,"2":1.3},"Petal.Width":{"0":0.2,"1":0.2,"2":0.2},"Species":{"0":"setosa","1":"setosa","2":"setosa"}}'

* json 구조에 맞게(눈에 보기 좋게) 보려면
    * json 패키지의 loads 함수로 기존 객체를 불러와서, 
    * 다시 json.dumps로 저장하면 됨.

In [5]:
# json 구조의 딕셔너리
parsed = json.loads(js_columns)
print(type(parsed)) 
parsed

<class 'dict'>

{'Sepal.Length': {'0': 5.1, '1': 4.9, '2': 4.7},
 'Sepal.Width': {'0': 3.5, '1': 3.0, '2': 3.2},
 'Petal.Length': {'0': 1.4, '1': 1.4, '2': 1.3},
 'Petal.Width': {'0': 0.2, '1': 0.2, '2': 0.2},
 'Species': {'0': 'setosa', '1': 'setosa', '2': 'setosa'}}

### 2) 행 별로 저장하기 orient = 'records'

In [6]:
js_records = temp.to_json(orient = 'records')
print(js_records)

[{"Sepal.Length":5.1,"Sepal.Width":3.5,"Petal.Length":1.4,"Petal.Width":0.2,"Species":"setosa"},{"Sepal.Length":4.9,"Sepal.Width":3.0,"Petal.Length":1.4,"Petal.Width":0.2,"Species":"setosa"},{"Sepal.Length":4.7,"Sepal.Width":3.2,"Petal.Length":1.3,"Petal.Width":0.2,"Species":"setosa"}]

In [7]:
# json 구조에 맞게 들여쓰기, 내려쓰기를 해서 보려면
parsed = json.loads(js_records)
print(json.dumps(parsed, indent=4))

[
    {
        "Sepal.Length": 5.1,
        "Sepal.Width": 3.5,
        "Petal.Length": 1.4,
        "Petal.Width": 0.2,
        "Species": "setosa"
    },
    {
        "Sepal.Length": 4.9,
        "Sepal.Width": 3.0,
        "Petal.Length": 1.4,
        "Petal.Width": 0.2,
        "Species": "setosa"
    },
    {
        "Sepal.Length": 4.7,
        "Sepal.Width": 3.2,
        "Petal.Length": 1.3,
        "Petal.Width": 0.2,
        "Species": "setosa"
    }
]

### 3) 인덱스 별로 저장하기 orient = 'index'

records와 유사. 행 인덱스 표시.

In [8]:
js_index = temp.to_json(orient = 'index')
js_index

'{"0":{"Sepal.Length":5.1,"Sepal.Width":3.5,"Petal.Length":1.4,"Petal.Width":0.2,"Species":"setosa"},"1":{"Sepal.Length":4.9,"Sepal.Width":3.0,"Petal.Length":1.4,"Petal.Width":0.2,"Species":"setosa"},"2":{"Sepal.Length":4.7,"Sepal.Width":3.2,"Petal.Length":1.3,"Petal.Width":0.2,"Species":"setosa"}}'

In [9]:
parsed = json.loads(js_index)
parsed

{'0': {'Sepal.Length': 5.1,
  'Sepal.Width': 3.5,
  'Petal.Length': 1.4,
  'Petal.Width': 0.2,
  'Species': 'setosa'},
 '1': {'Sepal.Length': 4.9,
  'Sepal.Width': 3.0,
  'Petal.Length': 1.4,
  'Petal.Width': 0.2,
  'Species': 'setosa'},
 '2': {'Sepal.Length': 4.7,
  'Sepal.Width': 3.2,
  'Petal.Length': 1.3,
  'Petal.Width': 0.2,
  'Species': 'setosa'}}

### 4) 하위 구성요소별로 저장 orient = 'split'
columns, index, data 구조로 저장

In [10]:
js_split = temp.to_json(orient = 'split')
js_split

'{"columns":["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width","Species"],"index":[0,1,2],"data":[[5.1,3.5,1.4,0.2,"setosa"],[4.9,3.0,1.4,0.2,"setosa"],[4.7,3.2,1.3,0.2,"setosa"]]}'

In [11]:
parsed = json.loads(js_split)
parsed

{'columns': ['Sepal.Length',
  'Sepal.Width',
  'Petal.Length',
  'Petal.Width',
  'Species'],
 'index': [0, 1, 2],
 'data': [[5.1, 3.5, 1.4, 0.2, 'setosa'],
  [4.9, 3.0, 1.4, 0.2, 'setosa'],
  [4.7, 3.2, 1.3, 0.2, 'setosa']]}

### 5) table의 구성요소별로 저장 orient = 'table'

* schema
    * fields
    * primary key
* data

In [12]:
js_table = temp.to_json(orient = 'table')
js_table

'{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"Sepal.Length","type":"number"},{"name":"Sepal.Width","type":"number"},{"name":"Petal.Length","type":"number"},{"name":"Petal.Width","type":"number"},{"name":"Species","type":"string"}],"primaryKey":["index"],"pandas_version":"0.20.0"},"data":[{"index":0,"Sepal.Length":5.1,"Sepal.Width":3.5,"Petal.Length":1.4,"Petal.Width":0.2,"Species":"setosa"},{"index":1,"Sepal.Length":4.9,"Sepal.Width":3.0,"Petal.Length":1.4,"Petal.Width":0.2,"Species":"setosa"},{"index":2,"Sepal.Length":4.7,"Sepal.Width":3.2,"Petal.Length":1.3,"Petal.Width":0.2,"Species":"setosa"}]}'

In [13]:
# json 구조에 맞게 들여쓰기, 내려쓰기를 해서 보려면
parsed = json.loads(js_table)
parsed

{'schema': {'fields': [{'name': 'index', 'type': 'integer'},
   {'name': 'Sepal.Length', 'type': 'number'},
   {'name': 'Sepal.Width', 'type': 'number'},
   {'name': 'Petal.Length', 'type': 'number'},
   {'name': 'Petal.Width', 'type': 'number'},
   {'name': 'Species', 'type': 'string'}],
  'primaryKey': ['index'],
  'pandas_version': '0.20.0'},
 'data': [{'index': 0,
   'Sepal.Length': 5.1,
   'Sepal.Width': 3.5,
   'Petal.Length': 1.4,
   'Petal.Width': 0.2,
   'Species': 'setosa'},
  {'index': 1,
   'Sepal.Length': 4.9,
   'Sepal.Width': 3.0,
   'Petal.Length': 1.4,
   'Petal.Width': 0.2,
   'Species': 'setosa'},
  {'index': 2,
   'Sepal.Length': 4.7,
   'Sepal.Width': 3.2,
   'Petal.Length': 1.3,
   'Petal.Width': 0.2,
   'Species': 'setosa'}]}

### 실습

In [14]:
titanic = pd.read_csv("https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv")
temp_t = titanic.head(3)
temp_t

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,Southhampton
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,Cherbourg
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,Southhampton

* temp_t 를 column 별로 json 형태로 저장하고 조회하시오.

In [15]:
temp_t_col = temp_t.to_json(orient='columns')
parser = json.loads(temp_t_col)
parser

{'PassengerId': {'0': 1, '1': 2, '2': 3},
 'Survived': {'0': 0, '1': 1, '2': 1},
 'Pclass': {'0': 3, '1': 1, '2': 3},
 'Name': {'0': 'Braund, Mr. Owen Harris',
  '1': 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  '2': 'Heikkinen, Miss. Laina'},
 'Sex': {'0': 'male', '1': 'female', '2': 'female'},
 'Age': {'0': 22.0, '1': 38.0, '2': 26.0},
 'Fare': {'0': 7.25, '1': 71.2833, '2': 7.925},
 'Embarked': {'0': 'Southhampton', '1': 'Cherbourg', '2': 'Southhampton'}}

* temp_t 를 records 별로 json 형태로 저장하고 조회하시오.

In [16]:
temp_t_record = temp_t.to_json(orient='records')
parser = json.loads(temp_t_record)
parser

[{'PassengerId': 1,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Braund, Mr. Owen Harris',
  'Sex': 'male',
  'Age': 22.0,
  'Fare': 7.25,
  'Embarked': 'Southhampton'},
 {'PassengerId': 2,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'Sex': 'female',
  'Age': 38.0,
  'Fare': 71.2833,
  'Embarked': 'Cherbourg'},
 {'PassengerId': 3,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'Heikkinen, Miss. Laina',
  'Sex': 'female',
  'Age': 26.0,
  'Fare': 7.925,
  'Embarked': 'Southhampton'}]

* temp_t 를 table 구조별로 json 형태로 저장하고 조회하시오.

In [17]:
temp_t_table = temp_t.to_json(orient='table')
parser = json.loads(temp_t_table)
parser

{'schema': {'fields': [{'name': 'index', 'type': 'integer'},
   {'name': 'PassengerId', 'type': 'integer'},
   {'name': 'Survived', 'type': 'integer'},
   {'name': 'Pclass', 'type': 'integer'},
   {'name': 'Name', 'type': 'string'},
   {'name': 'Sex', 'type': 'string'},
   {'name': 'Age', 'type': 'number'},
   {'name': 'Fare', 'type': 'number'},
   {'name': 'Embarked', 'type': 'string'}],
  'primaryKey': ['index'],
  'pandas_version': '0.20.0'},
 'data': [{'index': 0,
   'PassengerId': 1,
   'Survived': 0,
   'Pclass': 3,
   'Name': 'Braund, Mr. Owen Harris',
   'Sex': 'male',
   'Age': 22.0,
   'Fare': 7.25,
   'Embarked': 'Southhampton'},
  {'index': 1,
   'PassengerId': 2,
   'Survived': 1,
   'Pclass': 1,
   'Name': 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
   'Sex': 'female',
   'Age': 38.0,
   'Fare': 71.2833,
   'Embarked': 'Cherbourg'},
  {'index': 2,
   'PassengerId': 3,
   'Survived': 1,
   'Pclass': 3,
   'Name': 'Heikkinen, Miss. Laina',
   'Sex': 'female',
   'Age': 26.0,
   'Fare': 7.925,
   'Embarked': 'Southhampton'}]}

## 2. json to dataframe

pd.read_json()

https://pandas.pydata.org/docs/reference/api/pandas.read_json.html

1 단원에서 json으로 변환한 것을 다시 dataframe으로 변환하는 방법을 알아보겠습니다.

### 1) columns 구조의 json을 dataframe으로 변환해 봅시다.

columns 구조 json은 pd.read_json을 옵션없이 사용해도 DF로 자동 변환해 준다.

In [ ]:
pd.read_json(js_columns)

### 2) records 구조의 json을 dataframe으로 변환해 봅시다.

records 구조 json은 pd.read_json을 옵션없이 사용해도 DF로 자동 변환해 준다.

In [ ]:
pd.read_json(js_records)

### 3) index 구조의 json을 dataframe으로 변환해 봅시다.

index 구조는 명시적으로 pd.read_json(    , orient = 'index') 라고 써줘야 한다.

In [ ]:
pd.read_json(js_index, orient = 'index')

### 4) split 구조의 json을 dataframe으로 변환해 봅시다

split 구조는 명시적으로 pd.read_json(    , orient = 'split') 라고 써줘야 한다.

In [ ]:
pd.read_json(js_split, orient = 'split')

### 5) table 구조의 json을 dataframe으로 변환해 봅시다

table 구조는 명시적으로 pd.read_json(    , orient = 'table') 라고 써줘야 한다.

In [ ]:
pd.read_json(js_table, orient = 'table')

### 실습

1단원 실습 결과로 부터 다음의 문제를 해결하시오.

* column 별 json 형태를 데이터프레임으로 저장하고 조회하시오.

In [18]:
pd.read_json(temp_t_col)

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,7.2500,Southhampton
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,71.2833,Cherbourg
2,3,1,3,"Heikkinen, Miss. Laina",female,26,7.9250,Southhampton

* records 별 json 형태를 데이터프레임으로 저장하고 조회하시오.

In [19]:
pd.read_json(temp_t_record)

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,7.2500,Southhampton
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,71.2833,Cherbourg
2,3,1,3,"Heikkinen, Miss. Laina",female,26,7.9250,Southhampton

* table 별 json 형태를 데이터프레임으로 저장하고 조회하시오.

In [21]:
pd.read_json(temp_t_table, orient='table')

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,Southhampton
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,Cherbourg
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,Southhampton