<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/ml_python.png' width=600/></center>

# 실습 내용

- 머신러닝 모델링을 할 때 자주 사용되는 전처리 방법을 리뷰합니다.
- 익숙하지 않은 방법은 반복 실습을 통해 익숙해져야 합니다.
- 다룰 내용
    - 라이브러리 불러오기
    - 데이터 불러오기
    - 불필요한 변수 제거
    - NaN 조치
    - 가변수화
    - 데이터 분리
    - 정규화

# 1.라이브러리, 데이터 불러오기

- 우선 사용할 라이브러와 분석 대상 데이터를 불러옵니다.

## 1.1. 라이브러리 불러오기

- 사용할 라이브러리를 불러옵니다.

In [ ]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1.2. 데이터 읽어오기

- 분석 대상 데이터를 읽어옵니다.

In [ ]:
# 데이터 읽어오기
path = "https://raw.githubusercontent.com/jangrae/csv/master/titanic_train.csv"
titanic = pd.read_csv(path)

In [ ]:
# 상위 데이터 확인
titanic.head()

- 이후에 필요할 수 있으니 데이터프레임을 복사해 둡니다.

In [ ]:
# 데이터프레임 복사
titanic_bk = titanic.copy()

# 2.불필요한 변수 제거

- Cabin은 77.1%가 NaN이기에 채울 방법이 마땅치 않으니 제거합니다.
- PassengerId, Name, Ticket은 Unique 한 값이므로 제거합니다.
- axis=0는 행, axis=1은 열을 의미함을 기억하세요.

In [ ]:
# 여러 열 동시 제거
drop_col = ['Cabin', 'PassengerId', 'Name', 'Ticket']

In [ ]:
# 확인
titanic.head()

# 3.NaN 조치

- NaN 값이 포함되어 있으면 정확한 분석와 예측을 할 수 없으니 이에 대한 처리가 필요합니다.

## 3.1. NaN 확인

- NaN 값이 있는지 우선 확인합니다.

In [ ]:
# 변수들의 NaN 포함 상태 화인

## 3.2. NaN 삭제

- NaN 값이 포함된 행이나 열이 중요하지 않다면 해당 행이나 열을 제거합니다.
- NaN 값이 너무 많이 포함된 경우, 적절히 채울 수 없다면 해당 행과 열을 제거합니다.

### 3.2.1. 행 제거

- NaN 값이 포함된 행이 그리 많지 않다면 해당 행을 제거합니다.
- 모든 행을 제거하거나 일부 행을 제거할 수 있습니다.

**1) 모든 행 제거**

In [ ]:
# 연습을 위해 복사
titanic2 = titanic.copy()

# 확인
titanic2.isna().sum()

In [ ]:
# NaN이 포함된 모든 행(axis=0) 제거


# 확인
titanic2.isna().sum()

In [ ]:
# 데이터 크기 확인
titanic2.shape

**2) 일부 행 제거**

In [ ]:
# 연습을 위해 복사
titanic2 = titanic.copy()

# 확인
titanic2.isna().sum()

In [ ]:
# Age 변수에 NaN이 포함된 행 제거


# 확인
titanic2.isna().sum()

### 3.2.2. 변수 제거

- NaN 값이 포함된 변수가 그리 중요하지 않거나, NaN 값이 너무 많다면 해당 변수를 제거합니다.

In [ ]:
# 연습을 위해 복사
titanic2 = titanic.copy()

# 확인
titanic2.isna().sum()

In [ ]:
# NaN 열이 포함된 모든 변수(axis=1) 제거


# 확인
titanic2.isna().sum()

## 3.3. NaN 채우기

- NaN 값이 포함된 행이나 열을 제거할 수 없다면 특정 값으로 채웁니다.

### 3.3.1. 앞/뒤 값으로 채우기

- 시계열 데이터인 경우 많이 사용하는 방법입니다.
- method='ffill': 바로 앞의 값으로 채우기
- method='bfill': 바로 뒤의 값으로 채우기

In [ ]:
# 데이터 불러오기
path = 'https://raw.githubusercontent.com/jangrae/csv/master/airquality.csv'
air = pd.read_csv(path)

# 확인
air.head(10)

In [ ]:
# NaN 확인
air.isna().sum()

In [ ]:
# 연습을 위해 복사
air2 = air.copy()

# Ozone 변수 NaN 값을 바로 앞의 값으로 채우기


# Solar.R 변수 NaN 값을 바로 뒤의 값으로 채우기


# 확인
air2.isna().sum()

### 3.3.2. 선형 보간법으로 채우기

- interpolate 메소드에 method='linear' 옵션을 지정해 선형 보간법으로 채웁니다.

In [ ]:
# 연습을 위해 복사
air2 = air.copy()

# 선형 보간법으로 채우리


# Solar.R 변수 NaN 값을 바로 뒤의 값으로 채우기


# 확인
air2.isna().sum()

### 3.3.3. 특정 값으로 채우기

- 임의의 값을 지정해 NaN 값을 채웁니다.
- 평균값이나 최빈값으로 채우는 경우가 많습니다.

In [ ]:
# 연습을 위해 복사
titanic2 = titanic.copy()

# 확인
titanic2.isna().sum()

**1) 평균값으로 채우기**

In [ ]:
# Age 평균 구하기
mean_age = titanic2['Age'].mean()

# NaN을 평균값으로 채우기


# 확인
titanic2.isna().sum()

**2) 최빈값으로 채우기**

In [ ]:
# Embarked 변수 값 확인
titanic2['Embarked'].value_counts(dropna=True)

In [ ]:
# NaN 값을 가장 빈도가 높은 값으로 채우기


# 확인
titanic2.isna().sum()

# 4.가변수화

- 범주형 값을 갖는 변수에 대한 One-Hot Encoding을 진행합니다.

In [ ]:
# 연습을 위해 복사
titanic3 = titanic2.copy()

# 데이터 확인
titanic3.head()

- 다중공선성 문제를 없애기 위해 drop_first=True 옵션을 지정합니다.

In [ ]:
# 가변수 대상 변수 식별
cols = ['Pclass', 'Sex', 'Embarked']

# 가변수화


# 확인
titanic3.head()

# 5.데이터 분리

- 머신러닝 모델링을 위해서는 x, y 로 데이터를 분리해야 합니다.
- 독립변수와 종속변수를 나누는 과정입니다.

In [ ]:
# 데이터 확인
titanic3.head()

- 예측해야 할 값, 즉 Target을 명확히 구분합니다.
- 원본 데이터에서 Target 값을 제외한 것이 x이며, Target 값을 갖는 것이 y입니다.

In [ ]:
# Target 지정
target = 

# x, y 분리
x = 
y = 

# 확인
print(x.shape)
print(y.shape)

- 분리한 결과를 확인합니다.

In [ ]:
# x 확인
x.head()

In [ ]:
# y 확인
y.head()

# 6.정규화

- 모든 변수가 동일한 범위의 값을 갖도록 일괄 처리하는 것을 정규화라고 합니다.
- 거리를 사용해 예측하는 알고리즘의 경우 정규화 과정을 필히 수행해햐 합니다.
- 정규화 이전의 값은 서로 다른 범위의 값을 가집니다.

In [ ]:
# 확인
x.head()

- 시각화하면 그 차이를 명확히 알 수 있습니다.

In [ ]:
# Boxplot으로 확인
plt.boxplot([x['Age'], x['SibSp'], x['Fare']])
plt.show()

- 정규화를 진행합니다.
- 참고) sklearn 라이브러리에서 정규화 모듈을 제공합니다.

In [ ]:
# 정규화 (모두 0~1 사이 값으로 변경)

- 결과를 확인합니다.

In [ ]:
# 확인
x.head()

In [ ]:
# Boxplot으로 확인
plt.boxplot([x['Age'], x['SibSp'], x['Fare']])
plt.show()