# 00. 파이썬기초 복습

1) range()를 사용하여, 100이하의 수 중, 7의 배수를 리스트 a 에 담으시오.

In [13]:
# a = [i for i in range(100) if i%7==0]
a = list(range(7, 101, 7))
print(a)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

2) a에서 인덱스 4~ 7까지 조회하시오.

In [14]:
a[4:8]

[35, 42, 49, 56]

3) a에서, 끝에서 세번째 값을 조회하시오.

In [15]:
a[-3]

84

4) a에 데이터 갯수(길이)는?

In [16]:
len(a)

14

5) a 값들의 합과 평균을 구하시오.

In [17]:
print(sum(a))
print(sum(a)/len(a))

735
52.5

6) [심화]반복문을 이용하여 100이하의 소수(prime number)를 리스트에 담아 봅시다.
* 소수(prime number) : 약수가 오직 1과 자기자신 만 존재하는 수.

In [6]:
def is_prime(n) :
    for i in range(2, n) :
        if n%i == 0 :
            return False
    return True

prime_number = []
for i in range(2, 101) :
    if is_prime(i) :
        prime_number.append(i)
        
print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

7) [심화] 6번의 코드를 참조하여, 소수(prime number) 추출기 함수를 만들어 봅시다.
* 입력변수 : 숫자 n
* 처리 : n 이하의 소수를 리스트에 저장
* 출력변수 : 소수 리스트

* [추가] 입력변수 n은 2이상의 정수여야 함.(입력값 체크 부분 포함)

In [7]:
def prime_list(n) :
    if n < 2 :
        print("숫자가 잘 못 입력됬습니다.")
        return 0
    prime_number = []
    for i in range(2, n) :
        if is_prime(i) :
            prime_number.append(i)
    return prime_number

print(prime_list(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

8) 아래 값으로 딕셔너리 d를 생성해 봅시다.

|key | value|
|----|----|
|v1 | [1,2,3]|
|v2 | {'a':23, 'b':[4,5]}|

In [8]:
d = {'v1':[1,2,3], 'v2':{'a':23, 'b':[4,5]}}
d

{'v1': [1, 2, 3], 'v2': {'a': 23, 'b': [4, 5]}}

9) d에서 [1,2,3]을 출력해 봅시다.

In [9]:
d['v1']

[1, 2, 3]

10) d에서 23을 출력해 봅시다.

In [10]:
d['v2']['a']

23

11) d에서 5를 출력해봅시다.

In [11]:
d['v2']['b'][1]

5

12) d에 key 'newKey' , value (1,2) 를 추가하고 출력해봅시다.

In [12]:
d['newKey'] = (1, 2)
d

{'v1': [1, 2, 3], 'v2': {'a': 23, 'b': [4, 5]}, 'newKey': (1, 2)}