# 클라이언트 API호출

In [1]:
import pandas as pd
import numpy as np
import requests
import json

### 1. 단일 값 호출

In [21]:
x_input = {'COLLEGE' : 1,
           'INCOME' : 47711,
           'OVERAGE' : 183,
           'LEFTOVER' : 17,
           'HOUSE' : 730589.0,
           'HANDSET_PRICE' : 192,
           'OVER_15MINS_CALLS_PER_MONTH' : 19,
           'AVERAGE_CALL_DURATION' : 5,
           'REPORTED_SATISFACTION' : 'unsat',
           'REPORTED_USAGE_LEVEL' : 'little',
           'CONSIDERING_CHANGE_OF_PLAN' : 'considering'}

response = requests.post('http://127.0.0.1:8080/predict/', data = x_input)
resuslt = response.json()
resuslt['pred']

['stay']

## 2. 여러 값 호출

In [22]:
x_input = {'COLLEGE' : [1,0],
           'INCOME' : [47711,74132],
           'OVERAGE' : [183, 191],
           'LEFTOVER' : [17, 43],
           'HOUSE' : [730589.0, 535092.0],
           'HANDSET_PRICE' : [192, 349],
           'OVER_15MINS_CALLS_PER_MONTH' : [19, 15],
           'AVERAGE_CALL_DURATION' : [5, 2],
           'REPORTED_SATISFACTION' : ['unsat', 'unsat'],
           'REPORTED_USAGE_LEVEL' : ['little', 'very_little'],
           'CONSIDERING_CHANGE_OF_PLAN' : ['considering', 'no']}

response = requests.post('http://127.0.0.1:8080/predict/', data = x_input)
resuslt = response.json()
resuslt['pred']

['stay', 'leave']

## 3. 데이터셋(배치)으로 전달하기

* 데이터프레임으로 부터 정보 전달하기1

In [23]:
# 데이터 불러오기
use_cols = ['COLLEGE', 'INCOME', 'OVERAGE', 'LEFTOVER', 'HOUSE', 'HANDSET_PRICE', 'OVER_15MINS_CALLS_PER_MONTH', 'AVERAGE_CALL_DURATION',
            'REPORTED_SATISFACTION', 'REPORTED_USAGE_LEVEL', 'CONSIDERING_CHANGE_OF_PLAN', 'CHURN']
data = pd.read_csv('data/new_data.csv', usecols = use_cols )

target = 'CHURN'
x = data.drop(target, axis=1)
y = data[target]

In [24]:
# 데이터 입력 및 예측
x_input = {key : list(x[key]) for key in list(x)}
response = requests.post('http://127.0.0.1:8080/predict/', data = x_input)
result = response.json()

In [25]:
result['pred'][:5]

['leave', 'stay', 'stay', 'stay', 'leave']

* 데이터프레임으로 부터 정보전달하고, 예측결과 합치기

In [26]:
result_df = x.copy()
result_df['y'] = y
result_df['pred'] = result['pred']

In [27]:
result_df.head()

,COLLEGE,INCOME,OVERAGE,LEFTOVER,HOUSE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,y,pred
0,0,111527.0,44,76,NaN,751,4,1,very_unsat,little,considering,1,leave
1,1,42472.0,61,0,NaN,156,3,9,very_sat,little,considering,0,stay
2,0,145276.0,66,18,NaN,516,15,4,avg,little,considering,0,stay
3,1,132847.0,0,22,NaN,830,1,5,very_unsat,little,considering,0,stay
4,1,52232.0,138,0,NaN,362,24,14,very_sat,little,no,1,leave

- 입력 feature 확인

In [28]:
response = requests.get('http://127.0.0.1:8080/feature')
feature_name = response.json()
feature_name['feature_name']

['COLLEGE',
 'INCOME',
 'OVERAGE',
 'LEFTOVER',
 'HOUSE',
 'HANDSET_PRICE',
 'OVER_15MINS_CALLS_PER_MONTH',
 'AVERAGE_CALL_DURATION',
 'REPORTED_SATISFACTION',
 'REPORTED_USAGE_LEVEL',
 'CONSIDERING_CHANGE_OF_PLAN']